{% extends "base.html" %}

{% block extended_head %}
    <meta charset="utf-8">
    <title>s3direct</title>
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        function redirect_on_file_url_update() {
            if($('.file-url')[0].value.length > 0) {
                var file_path = $('.file-url')[0].value;
                var file_name = file_path.split('/').pop();
                window.location.replace('save/' + file_name);
            } else {
                setTimeout(redirect_on_file_url_update);
            }
        }
        $(document).ready(function(){
            redirect_on_file_url_update();
        });
    </script>
{% endblock %}
