{% extends 'forms_base.html' %}
{% from 'security/_macros.html' import render_field, render_field_with_errors %}

{% block body_class %}main main-register{% endblock %}

{% block page_title %}
  User Registration
{% endblock %}

{% block form_heading %}
  <h2>
    User Registration
  </h2>
{% endblock %}
{#  <div class="page-header">#}

{% block instructions %}
  <p>
    <strong>
      Please enter your details to register for an account.
    </strong>
  </p>
  <p>
    <strong>
      If you already have an account, you may
      <a href="{{ url_for_security('login') }}">log in</a> here.
    </strong>
  </p>
{% endblock %}

{% block form_body %}
  <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}

    {{ render_field_with_errors(register_user_form.username) }}
    {{ render_field_with_errors(register_user_form.first_name) }}
    {{ render_field_with_errors(register_user_form.last_name) }}
    {{ render_field_with_errors(register_user_form.institution) }}
    {{ render_field_with_errors(register_user_form.email) }}
    {{ render_field_with_errors(register_user_form.password) }}
    {{ render_field_with_errors(register_user_form.password_confirm) }}
    <input class="form-control btn btn-primary push-down-10" type="submit" value="Submit">
  </form>
{% endblock %}

